################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProject/FinalProject/appsettings.json
/RomelSportingGoods/RomelSportingGoods/appsettings.json
