@page
@model RomelSportingGoods.Pages.Admin.LoginModel
@{
}


<h1>Login</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>Login</h2>
            <div class="mb-3">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" type="password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<br />
<br />




